.home-paint {
    width: 1280px;
    height: 800px;
    background-color: #E8E8E8;
    border: 1px rgba(0, 0, 0, .1) solid;
    opacity: 1;
}

.home-paint-tool-draw{
    width: 60px;
    height: 40px;
}